<div id="booking-detail-container">
    <h1>THÔNG TIN ĐẶT TIỆC</h1>
    <div id="booking-container">
        <strong>
            Mã phiếu đặt tiệc: <i>{{weddingData.maTiecCuoi}}</i>
        </strong>
        <strong>
            Ngày đặt tiệc: <i>{{formatMyDateDB(weddingData.ngayDat)}}</i>
        </strong>
    </div>

    <strong>Thông tin khách hàng:</strong>
    <div id="customer-container">
        <div>
            <strong>Tên chú rễ:</strong>
            <i>{{weddingData.tenChuRe}}</i>
        </div>
        <div>
            <strong>Tên cô dâu:</strong>
            <i>{{weddingData.tenCoDau}}</i>
        </div>
        <div>
            <strong>SĐT:</strong>
            <i>{{weddingData.sdt}}</i>
        </div>
    </div>
    <strong>Thông tin tiệc cưới:</strong>
    <div id="wedding-container">
        <div>
            <strong>Ngày đãi tiệc:</strong>
            <i>{{formatMyDateDB(weddingData.ngayDaiTiec)}}</i>
        </div>
        <div>
            <strong>Ca:</strong>
            <i>{{weddingData.tenCa}}</i>
        </div>
        <div>
            <strong>Sảnh:</strong>
            <i>{{weddingData.tenSanh}}</i>
        </div>
        <div>
            <strong>Số lượng bàn:</strong>
            <i>{{weddingData.soLuongBan}}</i>
        </div>
        <div>
            <strong>Số lượng bàn dự trữ:</strong>
            <i>{{weddingData.soLuongBanDuTru}}</i>
        </div>
        <div>
            <strong>Đơn giá bàn:</strong>
            <i>{{+weddingData.donGiaBan | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</i>
        </div>
        <div>
            <strong>Tổng tiền bàn:</strong>
            <i>{{weddingData.tongTienBan | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</i>
        </div>
        <div>
            <strong>Tổng tiền dịch vụ:</strong>
            <i>{{weddingData.tongTienDichVu | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</i>
        </div>
        <div>
            <strong>Tiền cọc:</strong>
            <i>{{weddingData.tienDatCoc | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</i>
        </div>
        <div>
            <strong>Tổng tiền hóa đơn:</strong>
            <i>{{weddingData.tongTienDatTiec | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</i>
        </div>
        <div>
            <strong>Tiền nợ:</strong>
            <i>{{weddingData.conLai | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</i>
        </div>
    </div>

    <div id="tables-container">
        <h3>Danh sách món ăn</h3>
        <h3>Danh sách dịch vụ</h3>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th *ngFor="let headFood of headFoods">{{headFood}}</th>
                    </tr>
                </thead> 
                <tbody>
                    <tr 
                        *ngFor="let food of dishFoods; let id = index"
                    >
                        <td>{{ id + 1 }}</td>
                        <td>{{food.tenLoaiMonAn}}</td>
                        <td>{{food.tenMonAn}}</td>
                        <td>{{food.donGiaMonAn | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th *ngFor="let headService of headServices">{{headService}}</th>
                    </tr>
                </thead> 
                <tbody>
                    <tr 
                        *ngFor="let service of services; let id = index"
                    >
                        <td>{{ id + 1 }}</td>
                        <td>{{service.tenDichVu}}</td>
                        <td>{{service.soLuong}}</td>
                        <td>{{service.gia | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</td>
                        <td>{{totalService(service) | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="pre-btn-container">
        <button 
            class="pre-btn"
            (click)="onBack()"
        >
            Quay lại
        </button>
    </div>
</div>
