<div id="assign-staff">
    <h3>Thông tin tiệc cưới</h3>
    <div id="wedding-info">
        <strong>Ngày đãi tiệc:   <span>{{wedding.ngayDaiTiec}}</span></strong>
        <strong>Thời gian:   <span>{{wedding.tenCa}}</span></strong>
        <strong>Mã tiệc cưới:   <span>{{wedding.maTiecCuoi}}</span></strong>
        <strong>Mã sảnh:   <span>{{wedding.maSanh}}</span></strong>
    </div>
    <h3>Số lượng công việc mà tiệc cưới cần: </h3>
    <div id="service-list">
        <strong *ngFor="let job of CongViecsCanThiet">
            <span>{{job.soLuongDichVu}}</span>
            {{job.tenCongViec}}
        </strong>
    </div>

    <h1>BẢNG NHÂN VIÊN</h1>
    <div>
        <label for="job">Công việc:</label>
        <select 
            name="job"
            id="job-cbx"
            [(ngModel)]="selectedJob"
            (change)="onSelectedJobChange()"
        >
            <option
                *ngFor="let job of congViecs"
                [value]="job.maCongViec"
            >
                {{job.tenCongViec}}
            </option>
            
        </select>
    </div>

    <div class="staff-table">
        <table>
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã nhân viên</th>
                    <th>Họ và tên</th>
                    <th>Giới tính</th>
                    <th>Loại nhân viên</th>
                    <th>Số điện thoại</th>
                    <th>Chọn</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr 
                    *ngFor="let staff of filterNhanVien; let i = index"
                >
                    <td>{{i + 1}}</td>
                    <td>{{staff.maNhanVien}}</td>
                    <td>{{staff.tenNhanVien}}</td>
                    <td>{{staff.gioiTinh}}</td>
                    <td>{{staff.loaiNhanVien}}</td>
                    <td>{{staff.sdt}}</td>
                    <td>
                        <input 
                            type="checkbox" 
                            [(ngModel)]="staff.check"
                            (change)="onCheckboxChange(staff.check, staff.maNhanVien, selectedJob)"
                        >
                    </td>       
                </tr>

            </tbody>
        </table>
    </div>

    <h3>Số lượng nhân viên đã chọn theo công việc:</h3>
    <div id="job-list">
        <strong *ngFor="let job of CongViecsDaChon">
            <span>{{job.phanCong}}</span>
            {{job.tenCongViec}}
        </strong>
    </div>

    <div class="option-btn">
        <button 
            id="back-btn" 
            (click)="onBackChooseParty()"
        >
            Quay lại
        </button>
        <button 
            id="check-btn" 
            (click)="comfirmAssign()"
        >
            Xác nhận
        </button>
    </div>

</div>