<div id="choose-party-container" *ngIf="!showAssignForm">
    <div id="calendar-container">
        <app-calendar></app-calendar>
        <app-calendar></app-calendar>
    </div>

    <div id="title">
        <strong>Bảng tiệc cưới trong tuần</strong>
        <button (click)="onAssignClick()">Phân công</button>
    </div>

    <div id="table-container">
        <table>
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Ngày</th>
                    <th>Ca</th>
                    <th>Mã tiệc cưới</th>
                    <th>Mã sảnh</th>
                    <th>Số lượng bàn</th>
                    <th>Tình trạng</th>
                </tr>
            </thead> 
            <tbody>
                <tr *ngFor="let data of datas; let id = index">
                    <td>{{ id + 1 }}</td>
                    <td>{{ data.day }}</td>
                    <td>{{ data.shift }}</td>
                    <td>{{ data.idParty }}</td>
                    <td>{{ data.weddingHall }}</td>
                    <td>{{ data.nbOfTable }}</td>
                    <td>{{ data.status }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="pre-btn-container">
        <button id="pre-btn" (click)="onBack()">Quay lại</button>
    </div>
</div>

<app-assign-staff 
    *ngIf="showAssignForm" 
    (backChooseParty)="outAssignForm()"
></app-assign-staff>