<div id="choose-party-container" *ngIf="currentStep === 2">
    <div id="calendar-container">
        <app-calendar
            [selectedDate]="selectedFromDate"
            [minDateStr]="today"
            (selectedDateChange)="onFromDateChange($event)">
        ></app-calendar>
        <app-calendar
            [selectedDate]="selectedToDate"
            [minDateStr]="minToDateStr()"
            (selectedDateChange)="onToDateChange($event)">
        ></app-calendar>
    </div>

    <div id="title">
        <strong>Bảng tiệc cưới trong tuần</strong>
        <button (click)="onAssignClick()">Phân công</button>
    </div>

    <div id="table-container">
        <table>
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Ngày</th>
                    <th>Ca</th>
                    <th>Mã tiệc cưới</th>
                    <th>Mã sảnh</th>
                    <th>Số lượng bàn</th>
                    <th>Tình trạng</th>
                </tr>
            </thead> 
            <tbody>
                <tr 
                    *ngFor="let data of danhSachTiecCuoi; let id = index"
                    [class.selected]="data === selectedItem"
                    (click)="handleClickedItem(data)"
                >
                    <td>{{ id + 1 }}</td>
                    <td>{{ data.ngayDaiTiec | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ data.tenCa }}</td>
                    <td>{{ data.maTiecCuoi }}</td>
                    <td>{{ data.maSanh }}</td>
                    <td>{{ data.soLuongBan }}</td>
                    <td>
                        {{ data.tinhTrangPhanCong == null ? 'Chưa phân công' :
                         (data.tinhTrangPhanCong ? 'Đã phân công' : 'Chưa phân công') }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="pre-btn-container">
        <button id="pre-btn" (click)="onBack()">Quay lại</button>
    </div>
</div>

<app-assign-staff 
    *ngIf="currentStep === 3"
    [wedding]="selectedItem"
    (backChooseParty)="outAssignForm()"
    (onBackStep1)="onBackStep1()"
></app-assign-staff>