<div class="action-hall">
    <h2>{{getTitle}}</h2>
    <label for="hallName">Tên sảnh</label>
    <input 
        id="hallName" 
        type="text"
        [(ngModel)]="model.tenSanh"
    />
    <label for="minPrice">Đơn giá tối thiểu</label>
    <input 
        id="minPrice" 
        type="number"
        min="0"
        [(ngModel)]="model.donGiaBanToiThieu"
    />
    <label for="maxTableQuantity">Số lượng bàn tối đa</label>
    <input 
        id="maxTableQuantity" 
        type="number"
        min="10"
        [(ngModel)]="model.soLuongBanToiDa"
    />

    <div class="option-btn">
        <button
            (click)="exit()"
        >
            Thoát
        </button>
        <button
            (click)="save()"
        >
            Lưu
        </button>
    </div>

</div>