<div class="action-dish">
    <h2>{{getTitle}}</h2>
    <label for="dishName">Tên món ăn</label>
    <input 
        id="dishName" 
        type="text"
        [(ngModel)]="model.tenMonAn"
    />
    <label for="dishtype">Loại món ăn</label>
    <select
        id="dishtype"
        [(ngModel)]="model.tenLoaiMonAn"
    >
        <option
            *ngFor="let type of dishTypes"
            [value]="type"
        >
            {{type}}
        </option>
    </select>
    <label for="price">Đơn giá</label>
    <input 
        id="price" 
        type="number"
        min="10"
        [(ngModel)]="model.donGia"
    />

    <div class="option-btn">
        <button
            (click)="exit()"
        >
            Thoát
        </button>
        <button
            (click)="save()"
        >
            Lưu
        </button>
    </div>
</div>