#pay-bills-container {
    height: 100%;
    position: relative;
    padding: 0 40px;
}

h1 {
    text-align: center;
    padding: 20px;
    font-weight: 700;
    color: #4b63b7;
}

.date-container, #detail-container {
    display: grid;
    column-gap: 100px;
    grid-template-columns: repeat(3, 1fr);
    font-size: 18px;
}

.date-container div, #detail-container div {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    width: 100%;
    justify-content: space-between;
}

.invoice-summary {
    width: 30%;
    border: 2px solid #4b63b7;
    padding: 15px;
    margin: 40px 0;
    font-size: 20px;
    border-radius: 8px;
}

.invoice-summary div {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    width: 100%;
    justify-content: space-between;
}

#btns-container {
  display: flex;
  width: 100%;
  height: 120px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

#btns-container button {
    height: 40px;
    width: 130px;
    border-radius: 8px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
}

#btn-back {
    background-color: #4b63b7;
}

#btn-next {
    background-color: #008000;
}