<div id="pay-bills-container" *ngIf="!showPaymentBill">
    <h1 *ngIf="type==='pay'">
        XÁC NHẬN THÔNG TIN HÓA ĐƠN THANH TOÁN
    </h1>
    <h1 *ngIf="type==='cancel'">
        XÁC NHẬN THÔNG TIN HÓA ĐƠN HỦY
    </h1>
    <div
        class="date-container"
        *ngIf="type==='pay'"
    >
        <div>
            <strong>Ngày thanh toán:</strong>
            <i>{{myDate}}</i>
        </div>
        <div>
            <strong>Ngày đãi tiệc:</strong>
            <i>{{formatMyDateDB(weddingData.ngayDaiTiec)}}</i>
        </div>
    </div>
    <div
        class="date-container"
        *ngIf="type==='cancel'"
    >
        <div>
            <strong>Ngày hủy:</strong>
            <i>{{myDate}}</i>
        </div>
        <div>
            <strong>Số ngày hủy sớm:</strong>
            <i>{{daysBetween}}</i>
        </div>
        <div>
            <strong>Ngày đãi tiệc:</strong>
            <i>{{formatMyDateDB(weddingData.ngayDaiTiec)}}</i>            
        </div>
    </div>

    <div id="detail-container">
        <div>
            <strong>Tên chú rễ:</strong>
            <i>{{weddingData.tenChuRe}}</i>
        </div>
        <div>
            <strong>Số lượng bàn:</strong>
            <i>{{weddingData.soLuongBan}}</i>
        </div>
        <div>
            <strong>Tổng tiền bàn:</strong>
            <i>{{weddingData.tongTienBan | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</i>            
        </div>
        <div>
            <strong>Tên cô dâu:</strong>
            <i>{{weddingData.tenCoDau}}</i>            
        </div>
        <div>
            <strong>Đơn giá bàn:</strong>
            <i>{{weddingData.donGiaBan | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</i>            
        </div>
        <div>
            <strong>Tổng tiền dịch vụ:</strong>
            <i>{{weddingData.tongTienDichVu | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</i>
        </div>
    </div>

    <div class="payment-container">
        <div class="invoice-summary">
            <div>
                <strong>Tổng tiền hóa đơn:</strong>
                <i>{{weddingData.tongTienDatTiec | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</i>
            </div>
            <div>   
                <strong>{{'Tiền cọc (' + depositRate + '%):'}}</strong>
                <i>{{weddingData.tienDatCoc | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</i>
            </div>
            <div>   
                <strong>Số tiền cần thanh toán: </strong>
                <i>{{totalBill | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</i>
            </div>
        </div>

        <div class="amount-enter">
            <div>
                <label for="payment">Nhập số tiền thanh toán</label>
                <i>{{amountEntered | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</i>
            </div>
            <input
                id="payment"
                type="number"
                [(ngModel)]="amountEntered"
            />
        </div>
    </div>

    <div id="btns-container">
        <button
            id="btn-back"
            (click)="onBack()"
        >
            Quay lại
        </button>
        <button
            id="btn-next"
            (click)="openPaymentBill()"
        >
            Thanh toán
        </button>
    </div>
</div>

<app-print 
    *ngIf="showPaymentBill"
    [weddingData]="weddingData"
    [amountEntered]="amountEntered"
    [totalBill]="totalBill"
    [billDate]="myDate"
    [type]="type"
    (close)="closePaymentBill()"
>
</app-print>


