<div id="home-container" *ngIf="currentStep === 1">  
  <div class="layout-header">
    <img 
      src="assets/imgs/bg-restaurant.jpg"
      alt="bg-restaurant"
      height="200px">
    <span>Welcome to UIT wedding restaurant</span>
    <app-calendar
      [selectedDate]="selectedDate"
      (selectedDateChange)="onDateSelected($event)">
    ></app-calendar>
  </div>  
  <app-bar-chart
    [labels]="labels"
    [data]="values"
    title="Biểu đồ thống kê số lượng tiệc cưới theo tháng"
    [width]="'1100px'"
    [height]="'300px'"
    [Ox]="'Năm 2025'"
    [Oy]="'Số lượng tiệc cưới'"
  ></app-bar-chart>
  <div>

  </div>
  <button (click)="clickedBtn()">Phân công công việc</button>
</div>

<app-choose-party
  *ngIf="currentStep === 2"
  [currentStep]="2"
  (back)="goBack()"
  (onBackHome)="goBack()"
></app-choose-party>