<div id="category-container" *ngIf="!selectedItem">
  <h1>BẢNG DOANH MỤC</h1>
  <div id="category-list">
    <a
      class="item-container"
      *ngFor="let item of items()"
      (click)="onSelect(item)"
    >
      <img 
          [src]="'assets/imgs/' + item.icon" 
          [alt]="item.title" 
          width="50" 
          height="50"
        />
      <div class="item-title">
        <h2>{{item.title}}</h2>
      </div>
      <div class="item-content">{{item.content}}</div>
    </a>
  </div>
</div>

<ng-container class="item-list-container" *ngIf="selectedItem">
  <app-item-list
    [type]="selectedItem.id"
    [listName]="selectedItem.title"
    [nameIcon]="selectedItem.icon"
    [insertStatus]="insertStatus"
    [updateStatus]="updateStatus"
    (back)="goBack()"
    [headDatas]="selectedItem.header"
    [datas]="selectedItem.data"
    (insert)="handleInsert($event)"
    (delete)="handleDelete($event)"
    (update)="handleUpdate($event)"
    (refresh)="refreshSelectedItemData()"
  ></app-item-list>
</ng-container>